
.adder-container {
	display: inline-block;
	font-size: 2rem;
	border: 4px solid darkslategray;
	border-radius: .2em;
	padding: .1em;
}

.adder-display {
	box-sizing: border-box;
	border: solid 2px darkgray;
	width: 6em;
	display: block;
	margin-bottom: .2em;
	padding: 2px;
}

.adder-button {
	font-size: 2rem;
	width: 2em;
	height: 2em;
	outline: none;
}

.adder-button-clear {
	background: rosybrown; 
}

.adder-button-add {
	background: goldenrod;
}

.adder-button-digit {
	background: steelblue;
}